{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

<!-- Carousel Section -->
<section class="container-max section-carrusel">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/bg-auto.webp' %}" class="d-block img-carrucel w-50 mx-auto" alt="bg-auto" />
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bmw-m3-gtr.jpeg' %}" class="d-block img-carrucel w-50 mx-auto" alt="bg-bmw" />
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/black_porsche_carrera_gt_car_4k_hd_cars-3840x2160.jpg' %}"
                    class="d-block img-carrucel w-50 mx-auto" alt="bg-porsche" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Most Sales -->
<section class="fondo-seccion">
    <h1 class="titulo-seccion">Lo más vendido</h1>
    <div class="container-fluid">
        <div id="rowCards" class="row flex-row-center">
            <!-- Aqui se añaden las cards -->
        </div>
    </div>
</section>

<!-- Scripts del Proyecto -->
<script type="module" src="{% static 'js/index.js' %} "></script>
{% endblock %}